@page "/"

<style>
body{
    display: flex;
    align-items: center;
    justify-items: center;
}
    h1{
        font-size: 60px;
        margin: auto;
    }
</style>
<PageTitle>Index</PageTitle>

<h1>saludos</h1>

<h5>Elija una opción deseada</h5>

